* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  width 100%;
}

header {
  display: flex;
  justify-content: center;
  height: 116px;
  padding: 50px;
  margin-bottom: 40px;
}
.header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
.row {
  display: flex;
  flex-direction: row;
}
.left-image {
  margin-right: 40px;
  width: 422px;
  height: 496px;
  left: 92px;
  top: 196px;
}
.article {
  width: 513px;
  height: 168px;
  left: 551px;
  top: 301px;
text-align: justify;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #0d0c0c;
}
.aricle-topic {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  justify-self: space-around;
  margin-bottom: 10px;
  margin-top: -20px;
  color: #0d0c0c;
}
hr{
width: 60px;
height: 10px;
margin-bottom: 60px;
  justify-content: center;
}
section.top-section {
  margin-bottom: 60px;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;
}
.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px;
  width: 852px;
  height: 657px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.form h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}
input {
  width: 663px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #0d0c0c;
  box-sizing: border-box;
  border-radius: 5px;
}
textarea {
  width: 663px;
  height: 160px;
  background: #ffffff;
  border: 1px solid #0d0c0c;
  box-sizing: border-box;
  border-radius: 5px;
}
label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
button {
  width: 217px;
  height: 40px;
  background: rgba(0, 77, 230, 0.76);
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.left {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  margin-right: 70px;
}
